{{dump(r)}}
<div>
    <h1>Reader</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ r.id }}</td>
            </tr>
            <tr>
                <th>UsernameR</th>
                <td>{{ r.usernameR }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('listReader') }}">back to list</a>

   </div>